<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login | GTL</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="login-page">
<div class="login-overlay">
<div class="login-card">

<div class="toggle-buttons">
<button id="loginBtn" class="active">Log In</button>
<button id="registerBtn">Register</button>
</div>

<a href="/google-login" class="google-btn">
<img src="https://developers.google.com/identity/images/g-logo.png">
Continue with Google
</a>

<form id="loginForm">
<input type="text" placeholder="User Id">
<input type="password" placeholder="Enter Password">
<button class="gradient-btn">Log In</button>
</form>

<form id="registerForm">
<input type="text" placeholder="User Id">
<input type="email" placeholder="Email Id">
<input type="password" placeholder="Enter Password">
<button class="gradient-btn">Register</button>
</form>

</div>
</div>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>